mixin validationErrorSummary(errors)
  if errors
    div(class='errors-border' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li.error= error

mixin field(fieldName, fieldValue, fieldType='text', placeholder)
  div.form__input
    input.form-field(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)

mixin makeInputs(name, label, val, clas)
  label(for=name id=name class="workout__label") #{label}
  input(type="number" name=name id=name value=val class=`workout__input ${name} ${clas}`)